
.icon-home:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e801'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */