body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

p
{
	margin: 0;
}

.leftpanel
{
	float: left;
	width: 200px;
	border-right: solid 1px;
	margin-right: 50px;
}

.rightpanel
{
	float: left;
	width: 700px;
}


.addproduct
{
	float: left;
	width: 300px;
}

.adminorders
{
	float: left;
	width: 300px;
}

.addproduct > a:link,.adminorders > a:link,
.addproduct > a:link:visited,
.adminorders > a:link:visited
{
	position: relative;
	top: 30px;
	width: 150px;
	height: 30px;
	color: #fff;
	text-decoration:none;
	font-size: 20px;
	letter-spacing: 1px;
	border: 1px solid #751b1b;
	background-color: #c34f4f;
}

.addproduct > a:link:hover,
.adminorders > a:link:hover
{
	cursor: hand;
	background-color: #b23e3e;
}


.attention
{
	color: red;
}

input[type=submit]
{
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
	border: 1px solid #751b1b;
	background-color: #c34f4f;
}

input[type=submit].buttonproductfilter
{
	position: relative;
	top: 30px;
	width: 150px;
	height: 30px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	border: 1px solid #751b1b;
	background-color: #c34f4f;
}

input[type=number]#pricemin
{
	width: 50px;
}

input[type=text]#username,
input[type=password]#password,
input[type=text]#email
{
	width: 175px;
}

input[type=number]#pricemax
{
	width: 50px;
}

input[type=submit]:hover
{
	cursor: hand;
	background-color: #b23e3e;
}

.container
{
	width: 100%;
}

.product
{
	height: 150px;
	width: 612px;
	border: 2px solid #fff;
}

.productlist
{
	float: left;
	width: 600px;
}

.productfilter
{
	width: 300px;
	height: 650px;
	margin-left: 82px;
	float: left;
	font-size: 17px;
	border: 1px solid #751b1b;
	background-color: #222;
}

.productfilter_form
{
	position: relative;
	left: 40px;
}


.infobox
{
	width: 486px;
	height: 150px;
	float: left;
}


.infobox > a:link
{
	color: #fff;
	text-decoration: none;
}

.infobox > a:hover
{
	color:#451717;
}

.title
{
	height: 100px;
	background-color: #c34f4f;
	border-bottom: 1px solid #fff;
}

.title > p
{
	position: relative;
	left: 40px;
	top: 20px;
	font-size: 35px;
}

.price
{
	height: 50px;
	width: 150px;
	float: left;
	text-align: center;
	position: relative;
	top: 10px;
}

.img_page
{
	text-align: center;
	height: 400px;
	width: 499px;
	float: left;
}


.img_page > img
{
	position: relative;
	top: 50px;
}

.product_page
{
	float: left;
	height: 400px;
	width: 499px;
}

.name_page
{
	background-color: #c34f4f;
	height: 100px;
	font-size: 30px;
	border: 1px solid #751b1b;
}

.name_page > h3
{
	position: relative;
	left: 60px;
}

.infobox_page
{
	float: left;
	width: 248px;
	height: 300px;
	font-size: 14px;
	border-right: 1px dashed #ddd; 


}

.infobox_page > p
{
	margin: 6px;
	color: #ddd;
}

.buy_page
{
	float: left;
	width: 248px;
	height: 300px;
}

.price_page
{
	height: 100px;
}

.price_page > p
{
	position: relative;
	top: 60px;
	left: 120px;
}

.basket_page
{
	text-align: center;
}

.basket_page > form
{
	position: relative;
	top: 10px;
	left: 40px;
}

.description
{
	text-align: justify;
}

.description_page > h1
{
	text-align: center;
}

.description_page > h2
{
	position: relative;
	left: 190px;
}

.pegi
{
	height: 50px;
	width: 150px;
	float: left;
	text-align: center;
	position: relative;
	top: 10px;
}

.availability
{
	height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: left;
	text-align: center;
	position: relative;
	top: 10px;
}

.img
{
	height: 150px;
	width: 126px;
	float: left;
}

.clear
{
	clear: both;
}

.header
{
	width:100%;
	padding: 40px 0;
}

.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
}

.icon
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.nav
{ 
	width: 100%;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}

.form
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
}

.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
}

.contentlist
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	position: relative;
	left: 200px;
}

.left_admin
{
	float: left;
	width: 220px;
}

.right_admin
{
	float: left;
}

.socials
{
	width:100%;
	text-align: center;
	background-color: #292929;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}

.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
}

table {
	border-collapse: collapse;
	border: 1px solid #d94348;
}

table td {
	border: 1px solid #d94348;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #cf6969;
}

ol > li:hover > a
{
	color: #451717;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}

ol > li > ul > li:hover
{
	background-color: #c34f4f;
}

ol > li > ul > li:hover > a
{
	color: #451717;
}



#basket a:link
{
	text-decoration: none;
	color: #c34f4f;
}

#basket a:visited 
{
	text-decoration: none;
	color: #c34f4f;
}

#basket a:hover
{
	text-decoration: none;
	color: #a12d2d;
}

a:link
{
	color: #fff;
}

a:visited
{
	color: #fff;
}


button > a:link
{
	color: #751b1b;
}

button > a:visited
{
	color: #751b1b;
}